@font-face {font-family: 'Arial2';  src: url('../fonts/basic/Arial.ttf');}
@font-face {font-family: 'Tahoma2';  src: url('../fonts/basic/Tahoma.ttf');}
@font-face {font-family: 'Franklin Gothic';  src: url('../fonts/basic/Franklin%20Gothic%20Medium.ttf');}
@font-face {font-family: 'Georgia';  src: url('../fonts/basic/Georgia.ttf');}
@font-face {font-family: 'Impact';  src: url('../fonts/basic/Impact.ttf');}
@font-face {font-family: 'Comic Sans MS';  src: url('../fonts/basic/Comic%20Sans%20MS.ttf');}
@font-face {font-family: 'Times New Roman2';  src: url('../fonts/basic/Times%20New%20Roman.ttf');}
@font-face {font-family: 'Trebuchet MS';  src: url('../fonts/basic/Trebuchet%20MS.ttf');}
@font-face {font-family: 'Verdana2';  src: url('../fonts/basic/Verdana.ttf');}

@font-face {font-family: 'Blow';  src: url('../fonts/featured/Blow.ttf');}
@font-face {font-family: 'Crom';  src: url('../fonts/featured/Crom.ttf');}
@font-face {font-family: 'Good Times';  src: url('../fonts/featured/Good%20Times%20Rg.ttf');}
@font-face {font-family: 'GoodDog Plain';  src: url('../fonts/featured/GoodDog%20Plain.ttf');}
@font-face {font-family: 'Gyparody';  src: url('../fonts/featured/Gyparody%20Rg.ttf');}
@font-face {font-family: 'James Almacen';  src: url('../fonts/featured/James%20Almacen.ttf');}
@font-face {font-family: 'Pecita';  src: url('../fonts/featured/Pecita.otf');}
@font-face {font-family: 'Pricedown';  src: url('../fonts/featured/Pricedown%20Bl.ttf');}
@font-face {font-family: 'Qarmic sans';  src: url('../fonts/featured/Qarmic%20sans.ttf');}
@font-face {font-family: 'Quarterly Thin BRK';  src: url('../fonts/featured/Quarterly%20Thin%20BRK.ttf');}
@font-face {font-family: 'Uni Sans';  src: url('../fonts/featured/Uni%20Sans%20Thin%20CAPS.otf');}

@font-face {font-family: 'Alex Brush';  src: url('../fonts/romantic/Alex%20Brush.ttf');}
@font-face {font-family: 'jandles';  src: url('../fonts/romantic/jandles.ttf');}
@font-face {font-family: 'League Script';  src: url('../fonts/romantic/League%20Script.ttf');}
@font-face {font-family: 'Magnolia Script';  src: url('../fonts/romantic/Magnolia%20Script.otf');}
@font-face {font-family: 'Melanie';  src: url('../fonts/romantic/Melanie.ttf');}
@font-face {font-family: 'Miss Fajardose';  src: url('../fonts/romantic/Miss%20Fajardose.ttf');}
@font-face {font-family: 'Pinyon Script';  src: url('../fonts/romantic/Pinyon%20Script.ttf');}
@font-face {font-family: 'Precious';  src: url('../fonts/romantic/Precious.ttf');}

@font-face {font-family: 'eighty percent caps';  src: url('../fonts/funky/eighty%20percent%20caps.ttf');}
@font-face {font-family: 'Gorditas';  src: url('../fonts/funky/Gorditas.ttf');}
@font-face {font-family: 'komika krak';  src: url('../fonts/funky/komika%20krak.ttf');}
@font-face {font-family: 'Kavoon';  src: url('../fonts/funky/Kavoon.ttf');}
@font-face {font-family: 'La Negrita';  src: url('../fonts/funky/La%20Negrita.ttf');}
@font-face {font-family: 'komika tread';  src: url('../fonts/funky/komika%20tread.ttf');}
@font-face {font-family: 'RhubarbPie';  src: url('../fonts/funky/RHUBARBP.ttf');}
@font-face {font-family: 'Slugfest NF';  src: url('../fonts/funky/Slugfest%20NF.ttf');}
@font-face {font-family: 'vectroid';  src: url('../fonts/funky/vectroid.ttf');}
@font-face {font-family: 'VTC StressedHand';  src: url('../fonts/funky/VTC%20StressedHand.ttf');}
@font-face {font-family: 'ZHANG QA';  src: url('../fonts/funky/ZHANG%20QA.ttf');}

@font-face {font-family: 'Certto Headline';  src: url('../fonts/grunge/Certto%20Headline.otf');}
@font-face {font-family: 'Fibyngerowa';  src: url('../fonts/grunge/Fibyngerowa.otf');}
@font-face {font-family: 'hassle (BRK)';  src: url('../fonts/grunge/hassle%20(BRK.html).ttf');}
@font-face {font-family: 'HVD Peace';  src: url('../fonts/grunge/HVD%20Peace.ttf');}
@font-face {font-family: 'lexographer';  src: url('../fonts/grunge/lexographer.ttf');}
@font-face {font-family: 'MadLines';  src: url('../fonts/grunge/MadLines.ttf');}
@font-face {font-family: 'Punk Kid';  src: url('../fonts/grunge/Punk%20Kid.ttf');}
@font-face {font-family: 'Scratchy';  src: url('../fonts/grunge/Scratchy.ttf');}
@font-face {font-family: 'Shoguns Clan';  src: url('../fonts/grunge/Shoguns%20Clan.ttf');}
@font-face {font-family: 'weathered (BRK)';  src: url('../fonts/grunge/weathered%20(BRK.html).ttf');}

@font-face {font-family: 'Bellhop NF';  src: url('../fonts/retro/Bellhop%20NF.ttf');}
@font-face {font-family: 'Engagement';  src: url('../fonts/retro/Engagement.ttf');}
@font-face {font-family: 'fabian';  src: url('../fonts/retro/fabian.ttf');}
@font-face {font-family: 'Gist';  src: url('../fonts/retro/Gist.otf');}
@font-face {font-family: 'LostWages';  src: url('../fonts/retro/lostwage.ttf');}
@font-face {font-family: 'Metro Retro NF';  src: url('../fonts/retro/Metro%20Retro%20NF.ttf');}
@font-face {font-family: 'Metropolis NF';  src: url('../fonts/retro/Metropolis%20NF.ttf');}
@font-face {font-family: 'Remarcle';  src: url('../fonts/retro/Remarcle.ttf');}
@font-face {font-family: 'Stalemate';  src: url('../fonts/retro/Stalemate.ttf');}
@font-face {font-family: 'Streetwear';  src: url('../fonts/retro/Streetwear.otf');}
@font-face {font-family: 'Warnes';  src: url('../fonts/retro/Warnes.ttf');}

@font-face {font-family: 'degrassi';  src: url('../fonts/graffiti/degrassi.ttf');}
@font-face {font-family: 'edo sz';  src: url('../fonts/graffiti/edo%20sz.ttf');}
@font-face {font-family: 'Gasrux';  src: url('../fonts/graffiti/Gasrux.ttf');}
@font-face {font-family: 'graffiti treat';  src: url('../fonts/graffiti/graffiti%20treat.ttf');}
@font-face {font-family: '3 prong tree';  src: url('../fonts/graffiti/3%20prong%20tree.ttf');}
@font-face {font-family: 'House Paint Slab Regular Demo';  src: url('../fonts/graffiti/House%20Paint%20Slab%20Regular%20Demo.ttf');}
@font-face {font-family: 'Inlines';  src: url('../fonts/graffiti/Inlines.ttf');}
@font-face {font-family: 'Planet Benson Two';  src: url('../fonts/graffiti/Planet%20Benson%20Two.ttf');}

@font-face {font-family: 'Cantika Cute Handwriting';  src: url('../fonts/handwritten/Cantika%20Cute%20Handwriting.otf');}
@font-face {font-family: 'Douglas Adams Hand';  src: url('../fonts/handwritten/Douglas%20Adams%20Hand.ttf');}
@font-face {font-family: 'farewell';  src: url('../fonts/handwritten/farewell.ttf');}
@font-face {font-family: 'Handlee';  src: url('../fonts/handwritten/Handlee.ttf');}
@font-face {font-family: 'Just Another Hand';  src: url('../fonts/handwritten/Just%20Another%20Hand.ttf');}
@font-face {font-family: 'roddy';  src: url('../fonts/handwritten/roddy.ttf');}
@font-face {font-family: "Tom's Handwriting";  src: url("../fonts/handwritten/Tom's Handwriting.ttf");}
@font-face {font-family: 'Two Turtle Doves';  src: url('../fonts/handwritten/Two%20Turtle%20Doves.ttf');}
@font-face {font-family: 'Victor Handwriting';  src: url('../fonts/handwritten/Victor%20Handwriting.ttf');}

@font-face {font-family: 'BPdots';  src: url('../fonts/dotted/BPdots.otf');}
@font-face {font-family: 'budmo jiggler';  src: url('../fonts/dotted/budmo%20jiggler.ttf');}
@font-face {font-family: 'Codystar';  src: url('../fonts/dotted/Codystar.ttf');}
@font-face {font-family: 'Dot Short of a Matrix';  src: url('../fonts/dotted/Dot%20Short%20of%20a%20Matrix.ttf');}
@font-face {font-family: 'Dotrice';  src: url('../fonts/dotted/Dotrice.otf');}
@font-face {font-family: 'Double Strike';  src: url('../fonts/dotted/Double%20Strike.ttf');}
@font-face {font-family: 'prog.bot';  src: url('../fonts/dotted/prog.bot.ttf');}

@font-face {font-family: 'Bastarda';  src: url('../fonts/gothic/Bastarda.ttf');}
@font-face {font-family: 'Bradley Gratis';  src: url('../fonts/gothic/Bradley%20Gratis.ttf');}
@font-face {font-family: 'CAT Altgotisch';  src: url('../fonts/gothic/CAT%20Altgotisch.ttf');}
@font-face {font-family: 'Cryptik';  src: url('../fonts/gothic/Cryptik.ttf');}
@font-face {font-family: 'Gotisch Weiss UNZ1A';  src: url('../fonts/gothic/Gotisch%20Weiss%20UNZ1A.ttf');}
@font-face {font-family: 'Gotische Missalschrift';  src: url('../fonts/gothic/Gotische%20Missalschrift.ttf');}
@font-face {font-family: 'Holitter Gothic';  src: url('../fonts/gothic/Holitter%20Gothic.ttf');}
@font-face {font-family: 'Rotunda Pommerania';  src: url('../fonts/gothic/Rotunda%20Pommerania.ttf');}

@font-face {font-family: 'biting my nails';  src: url('../fonts/techno/biting%20my%20nails.ttf');}
@font-face {font-family: 'capacitor';  src: url('../fonts/techno/capacitor.ttf');}
@font-face {font-family: 'grapple brk';  src: url('../fonts/techno/grapple%20brk.ttf');}
@font-face {font-family: 'Particulator Regular';  src: url('../fonts/techno/particulator.ttf');}
@font-face {font-family: 'techno overload (BRK)';  src: url('../fonts/techno/techno%20overload%20(BRK.html).ttf');}
@font-face {font-family: 'tegma';  src: url('../fonts/techno/tegma.ttf');}
@font-face {font-family: 'Triggering Fanfares Regular';  src: url('../fonts/techno/triggering_fanfares.ttf');}

@font-face {font-family: 'FUTUREX';  src: url('../fonts/futuristic/FUTUREX.ttf');}
@font-face {font-family: 'Goca logotype beta';  src: url('../fonts/futuristic/Goca%20logotype%20beta.ttf');}
@font-face {font-family: 'Moondog fifteen';  src: url('../fonts/futuristic/Moondog%20fifteen.ttf');}
@font-face {font-family: 'NovaMono';  src: url('../fonts/futuristic/NovaMono.ttf');}
@font-face {font-family: 'quandary (BRK)';  src: url('../fonts/futuristic/quandary%20(BRK.html).ttf');}
@font-face {font-family: 'quarantine BRK';  src: url('../fonts/futuristic/quarantine%20BRK.ttf');}
@font-face {font-family: 'rambling BRK';  src: url('../fonts/futuristic/rambling%20BRK.ttf');}