*, :focus, h1, h2, h3, h4, h5, h6 {
    outline: 0;
}
*, h1, h2, h3, h4, h5, h6, hr {
    padding: 0;
    margin: 0;
}
*, dt, h1, h2, h3, h4, h5, h6, hr {
    margin: 0;
}
body, html {
    height: 100%}
.clear, body {
    position: relative;
}
#container, #header, body {
    background: #ededed;
}
.logo, .nav>li>span, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#header, .menu, .nav>li>span {
    box-sizing: border-box;
}
.t-inp, button, input[type=submit], textarea {
    -webkit-appearance: none;
}
#video, .loaded #container, .loaded .pop-up.pop-first {
    visibility: hidden;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font: inherit;
}
hr, img {
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-weight: 700;
}
.nav>li>span:after, img {
    vertical-align: middle;
}
dd, em, i {
    font-style: italic;
}
h1, h2, h3 {
    line-height: 1;
}
b, strong {
    font-weight: 700;
}
body, h1 {
    font-weight: 400;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
#header:before, .cont-in:after, .menu li .submenu:before, .menu>li.active>span:before, .menu>li>span:hover:before, .nav>li>span:after {
    content: ''}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    height: 1px;
    background: #5294c1;
}
address, dl, fieldset, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, table, ul {
    margin-bottom: 0;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
.lays li, .nav, .nav li ul li {
    list-style: none;
}
ol ol, ul ul {
    padding-top: .5em;
}
dt {
    font-size: 18px;
}
dd {
    padding-left: 10px;
    font-size: .9em;
    margin-bottom: 20px;
}
html {
    background: #000;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 1.4;
    color: #62656b;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #38435a;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.slink, .сslink {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.сslink {
    cursor: pointer;
}
a:hover {
    color: #628ae0;
}
h1 {
    font-size: 32px;
    margin-bottom: 2px;
}
h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
}
h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #777d89;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}
img.alignleft {
    float: left;
    margin: 3px 28px 10px 0;
}
.alignright {
    text-align: right;
}
.aligncenter, .nav>li {
    text-align: center;
}
img.alignright {
    float: right;
    margin: 3px 0 10px 28px;
}
img.alignnone {
    margin-bottom: 14px;
}
#container, .cont-in {
    margin: 0 auto;
    position: relative;
}
#container {
    min-width: 521px;
    left: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    transition: background .3s ease-out;
}
.cont-in {
    z-index: 8;
    max-width: 1050px;
    padding: 0 10px;
}
.banner img, .logo img {
    max-width: 100%}
.cont-in:after {
    display: block;
    clear: both;
}
#header {
    border-bottom: 1px solid #000;
	background: #333;
    padding-left: 12px;
    padding-right: 0;
    height: 50px;
    position: fixed;
    min-width: 320px;
    left: 0;
    z-index: 20;
}
#header:before {
    top: -30px;
    left: 0;
    right: 0;
    height: 30px;
    position: absolute;
    z-index: 0;
}
.logo, .nav>li {
    position: relative;
}
#header .banner {
    padding-top: 32px;
    height: 18px;
    width: 728px;
}
.logo {
    margin: 10px 10px 0 4px;
    line-height: 0;
    height: 29px;
    font-size: 0;
    float: left;
}
.lang, .nav>li>span {
    font-size: 15px;
    font-weight: 600;
}
.logo img {
    max-height: 100%;
}
.logo img:hover{
    opacity:0.7;
}
.h-like {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 100px;
}
.banner-horizontal{
    margin-top: 18px!important;
    margin-bottom: 10px;
    height: 15px;
    background: transparent;
    text-align: center;
    color: #fff;
    font-size: 11px;
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
    margin: 10px auto 10px;
    max-width:560px!important;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 2;
}
.lang {
    float: right;
    margin: 15px 25px 0 0;
}
.lang span {
    width: 30px;
    color: #6e778b;
    cursor: pointer;
    font-size:14px;
}
.lang span:hover {
    opacity: .5;
}
.lang img {
    margin: -2px 0 0 5px;
    width: 22px;
    height: 22px;
}
.nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 270px;
}
.nav:after{
    content: '';
    display: table;
    clear: both;
}
.nav>li {
    float: left;
    text-transform: uppercase;
    height: 58px;
}
.nav>li>span {
    line-height: 50px;
    height: 50px;
    color: #6e778b;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    transition: background .3s ease-out;
    cursor: pointer;
    font-size:14px;
}
.nav>li>span:after {
    display: inline-block;
    margin: 0 0 0 9px;
}
.nav .nav-item1>span {
    width: 153px;

}
.nav .nav-item1>span:after {
    background: url(../images/icons/ico1.svg) center no-repeat;
    background-size: 100%;
    margin: -4px -10px 0 12px;
    width: 21px;
    height: 25px;
}
.nav .nav-item1:hover>span {
    color: #fff;
    background: #6e778b;
}
.nav .nav-item1:hover>span:after {
    background: url(../images/icons/ico1_1.svg) center no-repeat;
    background-size: 100%}
.nav .nav-item2>span {
    width: 162px;
    color: #93c365;

}
.nav .nav-item2>span:after {
    background: url(../images/icons/ico2.svg) center no-repeat;
    background-size: 100%;
    margin: -6px -5px 0 11px;
    width: 19px;
    height: 19px;
}
.nav .nav-item2:hover>span {
    color: #fff;
    background: #93c365;
}
.nav .nav-item2:hover>span:after {
    background: url(../images/icons/ico2_1.svg) center no-repeat;
    background-size: 100%}
.nav .nav-item3>span {
    width: 153px;
    color: #489bbe;
    border-bottom: 2px solid #489bbe;
}
.nav .nav-item3>span:after {
    background: url(../images/icons/ico3.svg) center no-repeat;
    background-size: 100%;
    margin: -8px 0 0 12px;
    width: 19px;
    height: 19px;
}
.nav .nav-item3:hover>span {
    color: #fff;
    background: #489bbe;
}
.nav .nav-item3:hover>span:after {
    background: url(../images/icons/ico3_1.svg) center no-repeat;
    background-size: 100%}
.nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #596072;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}
.nav li:hover ul {
    display: block;
}
.nav li ul li {
    line-height: 30px;
}
.banner, .menu {
    line-height: 0;
    text-align: center;
}
.nav li ul li span {
    font-size: 14px;
    color: #dee1e9;
    font-weight:400;
    cursor: pointer;
}
.nav li ul li span:hover {
    color: #fff;
}
.banner {
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .menu>li>span {
    z-index: 7;
}
}.loaded #footer {
    opacity: 0;
}
#footer {
	background: #000;
    width: 100%;
    clear: both;
    margin: 0px auto 0;
    height: 164px;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.foot-in, .menu {
    height: 136px;
    background: #000;
    bottom: 0;
    left: 0;
}
.foot-in {
    z-index: 1;
    position: fixed;
}
.menu {
    margin: 0;
    font-size: 0;
    position: absolute;
    right: 0;
    padding: 0;
}
.menu>li {
    display: inline-block;
    font-weight: 600;
    margin-top: 150px;
    line-height: 17px;
    margin-right: 0;
    float: left;
    width: 33.3%;
}
.menu li>span>i, .menu>li>span {
    height: 30px;
    display: block;
    position: relative;
    margin:-45px 0 0 0;
}
.menu>li>span {
    font-size: 0;
    z-index: 7;
    background: #333;
    width: 100%;
    color: #dbdee6;
    cursor: pointer;
}
.menu>li>span:hover {
    font-size: 0;
    z-index: 7;
    background: #22293a;
    width: 100%;
    color: #dbdee6;
}
.menu li.active>span, .menu>li>span:hover {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    opacity: 1;
    z-index: 9;
}
.menu li>span>i {
    line-height: 30px;
    font-size: 0;
    margin: 0;
    z-index: 1;
    opacity: .7;
    display: inline-block;
    vertical-align: middle;
}
.menu li.active>span>i, .menu li>span:hover>i {
    opacity: 1;
}
.menu li>span>i img {
    display: inline-block;
    max-height: 34px;
}
.menu li>span>i img:nth-child(2){
    display: none;
}
.menu li.active>span>i img:nth-child(1), .menu li>span:hover>i img:nth-child(1){
    display: none;
}
.menu li.active>span>i img:nth-child(2), .menu li>span:hover>i img:nth-child(2){
    display: inline-block;
}
.menu li .submenu {
    transition: opacity .4s ease-out;
    opacity: 0;
    z-index: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 95px;
    background: #161616;
}
.menu li .submenu:before {
    z-index: 1;
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    top: -62px;
    width: 14px;
    background: url(../images/sh.png) no-repeat;
}
.menu li .scroll {
    overflow: auto;
}
.menu>li.active {
    background: #1f2635;
}
.menu>li.active>span:before {
    background-color: #1f1f1f;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
}
.menu>li>span:hover {
    z-index: 8;
}
.menu>li.active>span span, .menu>li>span:hover span{
    color: #389bc6;
}
.tab-link span{
    text-transform: uppercase;
}
.menu li.active .submenu {
    z-index: 5;
    opacity: 1;
}
.menu li .submenu ul {
    padding: 0 9px;
    margin: -1px 0 0 0;
    height: 95px;
    float: left;
}
.menu li .submenu .jq-selectbox__dropdown {
    bottom: 28px!important;
    top: auto!important;
}
.menu li .submenu .jq-selectbox__dropdown ul {
    padding: 0;
    margin: 0;
    height: auto;
    width: 200px;
}
.menu li .submenu .jq-selectbox__dropdown ul li {
    padding: 0 10px;
    margin: 0;
    line-height: 30px;
    font-size: 13px;
    font-weight: 400;
}
.menu li .submenu ul li, .menu li .submenu ul li>span span {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase!important;
}
.menu li .submenu ul li {
    vertical-align: top;
    display: inline-block;
    line-height: 17px;
    margin: 0px 6px 0px 7px;
}
.menu li .submenu ul li > span:hover {
    color: #fff;
}
.menu li .submenu ul li>span {
    box-shadow: 0 0 10px rgba(19, 21, 25, .5);
    width: 150px;
    height: 65px;
    position: relative;
    overflow: hidden;
    min-width: 75px;
    display: block;
    color: #8f8f8f;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius:4px;
    cursor: pointer;
}
.menu li .submenu.edit-submenu ul li>span {
    box-shadow: none;
    width: 90px;
    height: 80px;
    margin: 10px 0 0 0;
}
.menu li .submenu ul li>span>img {
    width: 100%}
.menu li .submenu span.click-active img {
    opacity: .7;
}
.menu li .submenu ul li>span i {
    height: 60px;
    line-height: 60px;
    width: 90px;
    box-sizing: border-box;
    margin: 1px auto 4px;
}
.menu li .submenu ul li.active>span i, .menu li .submenu span.click-active i, .menu li .submenu ul li>span:hover i {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.menu li .submenu ul li>span:before, .menu li .submenu ul li>span:hover:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    content: '';
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.menu>li .submenu.edit-submenu ul li>span i, .t-inp, .ui-slider, textarea {
    position: relative;
}
.menu li .submenu ul li.active>span:before,
.menu li .submenu span.click-active:before,
.menu li .submenu ul li>span:hover:before,
.menu li .submenu ul li>span.click-active:before {
    background: rgba(32, 39, 54, .5);
}

.menu li .submenu ul li>span.parent.click-active:before{
    background: transparent;
}
.menu li .submenu ul li>span.parent.click-active:hover:before{
   background: rgba(32, 39, 54, .5);
}
.menu li .submenu span.click-active{
    color: #fff;
}
.menu>li .submenu.edit-submenu ul li>span i img+img {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.menu>li .submenu.edit-submenu span.click-active i img, .menu>li .submenu.edit-submenu ul li>span:hover i img {
    opacity: 0;
}
.menu>li .submenu.edit-submenu span.click-active i img+img, .menu>li .submenu.edit-submenu ul li>span:hover i img+img {
    opacity: 1;
    display: block;
}
.menu>li .submenu.edit-submenu ul li.active>span:before, .menu>li .submenu.edit-submenu span.click-active:before, .menu>li .submenu.edit-submenu ul li>span:hover:before {
    background: rgba(0, 0, 0, 0);
}
.menu li .submenu ul li>span span {
    line-height: 28px;
    z-index: 3;
    color: #e2e4e7;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    background-image: linear-gradient(to top, rgba(32, 39, 54, .9) 0, rgba(32, 39, 54, .9) 9%, transparent 95%, transparent 100%, transparent 100%);
}
.form-col label, .menu .panes, .t-inp, textarea {
    font-size: 12px;
    font-weight: 400;
    color: #a6adbb;
}
.menu li .submenu .submenu {
    left: 0;
    bottom: auto;
    top: 0;
    z-index: 0;
    height: 0;
    overflow: hidden;
    opacity: 0 !important;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.menu li .submenu .submenu:before {
    display: none;
}
.menu li .submenu .submenu.active {
    bottom: auto;
    top: 0;
    z-index: 10;
    height: 95px;
    overflow: visible;
    opacity: 1 !important;
}
.menu .pane, .menu .panes {
    height: 40px;
    background: #333;
    position: absolute;
    left: 0px;
    right: 0;
    border-bottom: 1px solid #000!important;
}
.menu .panes {
    text-transform: uppercase;
    bottom: 100%;
    left: 0px;
    right: 0px;
	z-index: 999999;
}
.menu .pane {
    box-sizing: border-box;
    z-index: 0;
    padding: 0 0px 6px 0px;
    bottom: 0;
    white-space: nowrap;
}
.menu .pane .mCSB_container {
    padding-right: 0;
    box-sizing: border-box;
    overflow: visible;
    margin: 0 auto;
}
.menu .pane .mCSB_scrollTools {
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
}
.menu .pane .mCustomScrollBox {
    overflow: visible;
}
.hide-submenu {
    display: none;
    margin: 0 10px 0 0;
    float: left;
    background: url(../images/icons/ico34.png) center no-repeat;
    border-bottom: 2px solid #6e778b;
    width: 71px;
    height: 40px;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    bottom: 98px;
    cursor: pointer;
}
.hide-submenu:hover {
    background: url(../images/icons/ico34-h.png) center no-repeat #6e778b;
}
.hide-submenu+ul {
    display: inline-block;
    vertical-align: top;
}
.hide-submenu.show {
    display: block;
}
.form-col, .form-col .beet, .form-col label, .form-opt span, .t-inp, textarea {
    display: inline-block;
}
.form-col {
    vertical-align: top;
    line-height: 38px;
    margin-left: 12px;
}
.form-col label {
    margin-top: 1px;
    vertical-align: top;
    letter-spacing: .3px;
}
.form-col .jq-selectbox {
    width: 200px;
}
.form-col .t-inp {
    margin: 5px 4px 0 5px;
}
.form-col .beet {
    margin: 2px 2px 0 3px;
    vertical-align: top;
}
.size-col>label {
    margin: 1px 0 0 10px;
}
.size-col>input+label {
    margin: 1px 5px 0 15px;
}
.t-inp, textarea {
    text-align: center;
    width: 60px;
    font-family: 'Open Sans';
    height: 26px;
    border: 1px solid #fff;
    padding: 5px;
    line-height: 20px;
    background: #22293a;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}
.t-inp, textarea {
    background: #000;
}
.t-inp:focus{
    background: #333;
}
.btn, .btn-fb-load, .dr-slider input {
    font-family: 'Open Sans', sans-serif;
}
.link-cancel, .link-cancel:hover {
    border-bottom: 2px solid #6e778b;
}
textarea {
    height: 120px;
    resize: none;
    overflow: auto;
}
.center, .history-opts, .lays li, .photo, .photos, .pop-load .pop-cont {
    overflow: hidden;
}
.form-opt span img {
    max-height: 16px;
    max-width: 28px;
    margin-top:-11px;
}
.form-opt span {
    opacity: 1;
    vertical-align: middle;
    width: 50px;
    margin:-1px 0 0 -1px;
    height: 24px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #596072;
    cursor: pointer;
}
.link-cancel, .link-save {
    height: 40px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}
.form-opt span:hover {
    background:#2c3343;
}
.link-cancel {
    margin-left: 12px;
    width: 52px;
    background: url(../images/icons/ico17.svg) center no-repeat;
}
.link-cancel:hover {
    background: url(../images/icons/ico17_1.svg) center no-repeat #6e778b;
}
.link-save, .link-save:hover {
    border-bottom: 2px solid #93c365;
}
.link-save {
    margin: 0 15px 0 -4px;
    width: 70px;
    background: url(../images/icons/ico18.svg) center no-repeat;
}
.link-save:hover {
    background: url(../images/icons/ico18_1.svg) center no-repeat #93c365;
}
.link-savefile {
    margin: 4px 15px 0;
    display: inline-block;
    vertical-align: top;
    width: 195px;
    border: 2px solid #93c365;
    background: url(../images/icons/ico-save.svg) center no-repeat;
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.link-savefile:hover {
    background: url(../images/icons/ico-save2.svg) center no-repeat #93c365;
}
.jscolor {
    cursor: pointer;
    font-size: 0;
    text-align: center;
    border: 1px solid #596072;
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 4px;
    height: 26px;
    background-color: transparent;
    box-sizing: border-box;
    width: 40px;
    -webkit-box-shadow: inset 0 0 0 2px #22293a;
    -moz-box-shadow: inset 0 0 0 2px #22293a;
    box-shadow: inset 0 0 0 2px #22293a;
}
.jscolor:focus {
    font-size: 9px;
    font-weight: 400;
}
label+.jscolor {
    margin-left: 10px;
}
.dr-slider+.jscolor {
    margin-left: 4px;
    font-weight: 600;
}
.form-range label {
    margin-right: 10px;
}
.dr-slider {
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: top;
}
.dr-slider .ui-slider {
    width: 120px;
    background: #a6adbb;
    float: left;
    margin: 13px 0 0;
    cursor: pointer;
}
.dr-slider p {
    margin-right: -3px;
    margin-bottom: 0;
}
.dr-slider span.percent  {
    display: inline-block;
    color: #a6adbb;
    font-size: 15px;
    margin: 0 0 0 -3px;
    line-height: 38px;
    vertical-align: top;
    width: auto !important;
    height: auto !important;
}
.dr-slider input {
    width: 32px;
    text-align: right;
    font-weight: 400;
    color: #a6adbb;
    font-size: 13px;
    line-height: 38px;
    padding: 0;
    border: none;
    background: 0 0;
    height: 38px;
}
.scale-slider input, .scale-slider span.percent {
    color: #dee0e6;
    line-height: 32px;
    font-size: 15px;
}
.ui-slider {
    margin: 15px 0;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    background: #3882b1;
    border: 2px solid #3882b1;
    border-radius: 50%;
    cursor: pointer;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
.pane .dr-slider:hover .ui-slider.ui-slider-horizontal:before {
    background: #a6adbb;
}
.ui-slider-horizontal {
    height: 13px;
    background: 0 0!important;
    cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle {
    top: 0;
    margin-left: -10px;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 5px;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider .ui-widget-content {
    background: #ccc;
}
.ui-slider .ui-widget-header {
    background: #a82f20;
}
.ui-slider .ui-widget-header.ui-slider-range {
    background: #338bb1;
    top: 6px;
    height: 1px;
}
.ui-slider-horizontal .ui-slider-handle.ui-state-active{
    //transform: scale(1.2);
    //transform-origin: center center;
    width: 20px;
    height: 20px;
    margin-top:-2.5px;
    margin-left: -12.5px;
    //transition: transform 0.25s;
}
.ui-slider-horizontal .ui-slider-handle:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -7px;
    border-radius: 50%;
    background: #338bb1;
    opacity: 0;
}
.animate-circle:before{ 
    animation: scale-dot-out .5s linear;
    -moz-animation: scale-dot-out .5s linear;
    -webkit-animation: scale-dot-out .5s linear;
}

@keyframes scale-dot-out {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

.scale-slider {
    position: relative;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 30px;
}
.scale-slider .ui-slider {
    position: relative;
    width: 120px;
    background: 0 0;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
}
.ui-slider-horizontal:before {
    display: block;
    position: relative;
    content: "";
    width: 100%;
    height: 1px;
    top: 6px;
    background: #a6adbb;
}
.img-block:before, .lays li:before, section:after {
    content: ''}
.scale-slider .ui-slider-horizontal:before, .scale-slider .ui-slider-horizontal:hover:before {
    background: #dee0e6;
}
.scale-slider .ui-slider .ui-slider-handle {
    top: -1px;
    background: #338bb1;
    border: 2px solid #3882b1;
    //-webkit-transition: all .1s ease-out;
    //-moz-transition: all .1s ease-out;
    //transition: all .1s ease-out;
}
.scale-slider .ui-slider:hover .ui-slider-handle {
    background: #338bb1;
}
.ui-slider:hover .ui-slider-handle {
    background: #3882b1;
    //-webkit-transition: all .1s ease-out;
    //-moz-transition: all .1s ease-out;
    //transition: all .1s ease-out;
}
.btn-fb-load:hover, .btn:hover, .pop-cont .check label span {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}
.scale-slider .ui-slider-horizontal:before {
    height: 1px;
    background: #dee0e6;
}
.history-opts span.scale-minus, .history-opts span.scale-plus, .scale-slider .scale-minus, .scale-slider .scale-plus {
    margin: 9px 0 0;
    opacity: 1;
    background: url(../images/icons/signs.png) no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}
.history-opts span.scale-plus, .scale-slider .scale-plus {
    background-position: bottom;
}
.scale-slider span.percent {
    margin: 0 0 0 -2px;
}
#content, .center, .img-block {
    position: relative;
    margin: 0 auto;
}
.scale-slider input {
    text-align: right;
    height: 32px;
    width: 31px;
}
#content {
    z-index: 1;
    clear: both;
    padding: 55px 0px 0;
}
#content:first-child {
    padding-top: 0;
}
section:after {
    display: block;
    clear: both;
}
.center {
    line-height: 0;
    padding: 0;
    box-sizing: border-box;
    //display: flex;
}
.img-block {
    background: #000;
    text-align: center;
    vertical-align: middle;
    width: 728px;
    height: 600px;
}
.img-block canvas {

    position: absolute;
    top: 50%!important;
    left: 50%!important;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
}
.img-block:before {
    display: block;
}
.jcrop-holder-base canvas {
    top: 0!important;
    left: 0!important;
    transform: none!important;
    -moz-transform: none!important;
    -webkit-transform: none!important;
    -ms-transform: none!important;
}
.jcrop-holder-base:before {
    display: none!important;
}
.history-opts span:before, .lays li span:before, .lays li:before {
    display: inline-block;
    vertical-align: middle;
}
.sidebar-left {
    padding-right: 25px;
    width: 250px;
    float: left;
}
#canvas-container {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.moved {
    cursor: grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: -webkit-grabbing!important;
}
.submenu .scroll .sticker-item {
    width: 75px;
    box-shadow: none;
}
.sidebar-left h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0 7px;
    font-weight: 400;
}
.side-in {
    max-width: 250px;
    margin: 0 0 24px;
}

.edit-text {
	text-align: center;
	margin-top: 5px;
}

.lays {
    text-transform: uppercase;
    font-size: 15px;
}
.lays span {
    font-size: 13px;
}
.history-opts span, .lays li span {
    font-size: 0;
    text-align: center;
    cursor: pointer;
}
.lays li {
    color: #8f9299;
    margin-bottom: 3px;
    padding: 6px 12px 5px 13px;
    line-height: 26px;
    background: #f6f6f6;
    box-sizing: border-box;
    height: 40px;
}
.lays li.active {
    color: #2c2e33;
}
.lays li span {
    position: relative;
    opacity: 1;
    float: right;
    width: 26px;
    height: 26px;
    line-height: 26px;
}
.lays li span:before {
    line-height: 0;
}
.lays li span:hover {
    opacity: .7;
}
.lays li:before {
    width: 28px;
    height: 28px;
    margin-right: 9px;
    margin-top: -2px;
}
.lays li.li1:before {
    background: url(../images/icons/lico1.png) center no-repeat;
}
.lays li.li2:before {
    background: url(../images/icons/lico2.png) center no-repeat;
    margin-top: -6px;
}
.lays li.li3:before {
    background: url(../images/icons/lico3.png) center no-repeat;
}
.history-opts{
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    width: 380px;
    margin: 0 auto;
    background: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    padding: 0px 20px;
}
.history-opts span {
    opacity: 1;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.link-back:before, .link-forward:before, .link-fullscreen:before, .link-update:before {
    width: 16px;
    height: 16px;
    content: ''}
.history-opts span:before {
    line-height: 0;
}
.history-opts span.slink:hover {
    opacity: .7;
}
.history-opts span.link-update {
    margin-right: 10px;
}
.link-fullscreen:before {
    background: url(../images/icons/fullscreen.svg) center no-repeat;
    background-size: 16px;
}
.link-update:before {
    background: url(../images/icons/ico8.svg) center no-repeat;
    background-size: 16px;
}
.link-forward {
    margin-left: 15px;
}
.link-forward:before {
    background: url(../images/icons/ico6.svg) center no-repeat;
    background-size: 16px;
}
.link-back:before {
    background: url(../images/icons/ico7.svg) center no-repeat;
    background-size: 16px;
}
.link-remove {
    margin-left: 6px;
}
.link-remove:before {
    content: '';
    background: url(../images/icons/ico9.svg) center no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}
.link-view-restore:before, .link-view:before {
    width: 22px;
    height: 16px;
    content: ''}
.link-view:before {
    background: url(../images/icons/ico10.svg) center no-repeat;
    background-size: 22px;
}
.link-view-restore:before {
    background: url(../images/icons/ico10_2.png) center no-repeat;
    background-size: 22px;
}
.sidebar-right {
    width: 160px;
    float: right;
    padding-left: 25px;
}
.pop-share, .pop-up {
    background: #202736;
    width: 309px;
    position: relative;
}

.fancybox-wrap{
    margin-left: -170px;
    animation: scaleOut .2s;
}
@-webkit-keyframes scaleOut{
    0%{
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes scaleOut{
    0%{
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleOut{
    0%{
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.fancybox-close{
    transition: transform .3s;
}
.fancybox-close:hover{
    transform: rotate(180deg);
}
.pop-share{
    position: relative;
    
}
.sidebar-right .banner {
    margin-top: 0;
}
.pop-up {
    box-shadow: 0 0 18px rgba(47, 55, 72, .68);
    border-radius: 4px;
}
.pop-title {
    color: #737e97;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 600;
    padding: 12px 15px 11px;
    background: #2f3748;
    text-align: center;
    line-height: 22px;
    margin-bottom: -1px;
}
.fb-title {
    background: #56aee5;
}
.pop-cont {
    padding: 18px 19px 9px;
}
.pop-cont .form-row {
    margin-bottom: 12px;
}
.pop-cont .t-inp, .pop-cont textarea {
    font-weight: 300;
    margin-bottom: 7px;
    padding: 5px 7px;
    text-align: left;
    background: #202736;
    border: 1px solid #596072;
    color: #778196;
    display: block;
}
.pop-cont .form-row:after {
    content: '';
    display: block;
    clear: both;
}
.pop-cont .t-inp {
    float: left;
    width: 129px;
    height: 32px;
    font-size: 15px;
}
.pop-cont textarea {
    height: 79px;
    width: 100%;
    font-size: 16px;
}
.btn, .btn-fb-load, .btn-pc-load, .language-list, .mob-top, .pop-cont .btns, .pop-cont .check, .pop-first, .ui-tooltip {
    text-align: center;
}
.pop-cont .t-inp::-webkit-input-placeholder, .pop-cont textarea::-webkit-input-placeholder {
    color: #778196;
}
.pop-cont .t-inp:-moz-placeholder, .pop-cont textarea:-moz-placeholder {
    color: #778196;
}
.pop-cont .t-inp::-moz-placeholder, .pop-cont textarea::-moz-placeholder {
    color: #778196;
}
.pop-cont .t-inp:-ms-input-placeholder, .pop-cont textarea:-ms-input-placeholder {
    color: #778196;
}
.pop-cont .checks {
    float: right;
}
.pop-cont .check {
    box-sizing: border-box;
    float: left;
    height: 32px;
    width: 65px;
    position: relative;
    margin-left: -1px;
    border: 2px solid #dce1ea;
    line-height: 28px;
}
.pop-cont .check label {
    font-size: 14px;
    color: #dce1ea;
    cursor: pointer;
}
.pop-cont .check label span {
    font-weight: 600;
    display: block;
    transition: all .3s ease-out;
}
.pop-cont .check label .jq-radio {
    opacity: 0;
    position: absolute!important;
}
.pop-cont .check label .jq-radio.checked+span {
    background: #dce1ea;
    color: #202736;
}
.placeholder {
    color: #fff;
}
.pop-cont .btn {
    width: 100%;
    margin: 0;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
}
.pop-cont .btns {
    margin: 4px 0 3px;
}
.pop-cont .btns .link-savefile {
    margin-left: 15px;
}
.pop-cont .btns .link-save {
    background-size: 45px;
    margin-left: 25px;
    height: 45px;
    width: 110px;
}
.pop-cont .btns .link-cancel {
    height: 45px;
    width: 70px;
}
.pop-cont .dr-slider {
    display: block;
    width: 100%;
    text-align: center;
    margin: -6px 0 28px;
}
.pop-cont .dr-slider>span {
    font-weight: 400;
    font-size: 15px;
    color: #a6adbb;
    margin: 0;
}
.pop-cont .dr-slider>input {
    font-size: 15px;
    color: #a6adbb;
    font-weight: 400;
    margin-left: -5px;
}
.pop-cont .dr-slider .ui-slider {
    margin: -7px 0 0 40px;
    width: 70%;
    float: none;
}
.mob-prev, .photo {
    float: left;
}
.pop-cont .dr-slider .ui-slider:hover .ui-slider-handle {
    background: #3882b1;
}
#pop-save .pop-cont {
    padding: 26px 19px 14px;
}
.result-img {
    line-height: 0;
    margin-bottom: 18px;
}
.result-img img {
    width: 100%}
.language-list {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.language-list li {
    list-style-type: none;
}
.language-list li span {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #ced3df;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.language-list li span:hover {
    opacity: .5;
}
.pop-load {
    width: 500px;
    background: #efeeec;
}
.pop-load .fb-title {
    background: #3b5998;
}
.pop-load .mCSB_scrollTools {
    left: auto;
    right: 0;
    width: 10px;
}
.pop-load .mCSB_scrollTools .mCSB_dragger {
    background: #d8d7d3;
    border-radius: 2px;
    width: 10px;
}
.pop-load .mCSB_scrollTools .mCSB_dragger:hover {
    background: #000;
}
.pop-load .pop-cont {
    max-height: 345px;
    padding: 8px 12px 13px 14px;
}
.pop-load .form-row {
    color: #6a6d74;
    font-size: 16px;
    margin-bottom: 13px;
}
.pop-load .jq-selectbox {
    width: 258px;
}
.pop-load .jq-selectbox__select {
    background: #fff;
}
.pop-load .jq-selectbox__dropdown {
    top: 26px;
    bottom: auto;
    padding-bottom: 4px;
}
.pop-load .form-row .jq-selectbox li.sel, .pop-load .form-row .jq-selectbox li:hover, .pop-load .jq-selectbox li.selected {
    background-color: #fff;
    color: #000;
}
.pop-load .jq-selectbox li {
    padding: 2px 10px;
}
.pop-load .form-row label {
    color: #6a6d74;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 11px 0 2px;
    letter-spacing: .3px;
    line-height: 30px;
}
.photo {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 16px 16px 0;
}
.photo img {
    width: 100%}
.pop-first {
    background: 0 0;
    box-shadow: none;
    width: 342px;
    padding: 20px;
    position: relative;
    margin-top:-160px;
}
.pop-first h2 {
    color: #465066;
    letter-spacing: .7px;
    margin-bottom: 27px;
    font-size: 28px;
}
.btn, .btn-fb-load {
    box-sizing: border-box;
    font-weight: 600;
    letter-spacing: .6px;
    border: 0 solid #3b5998;
    margin: 23px auto 0;
    position: relative;
    display: inline-block;
    width: 250px;
    padding: 0 10px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #628ae0;
    text-transform: uppercase;
    cursor: pointer;
    background: #3b5998;
    border-radius:4px;
}
.btn-fb-load:hover, .btn:hover {
    background: #25417d;
    transition: all .3s ease-out;
}
.btn-pc-load {
    display: block;
    max-width: 100%;
    padding-bottom: 29px;
    border: 2px solid #fff;
    cursor: pointer;
}
.btn-pc-load span {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: .7px;
    margin-bottom: 21px;
    font-size: 36px;
    display: block;
}
.btn-pc-load svg {
    display: inline-block;
    width: 128px;
    height: 142px;
    fill: #fff;
}

.upload-icon {
    color: #fff;

}

.upload-icon:hover {
    color: #8f8f8f;

}
 
.btn-pc-load .hov, .btn-pc-load:hover img {
    display: none;
}


.btn-pc-load:hover .hov {
    display: inline-block;
}
.mob-top, .mob-top.start .mob-opt {
    display: none;
}

.btn-tw {
    color: #44aeef;
    background: #1b80be;
}
.btn-tw:hover {
    background: #136090;
}
.btn-tm {
    color: #6d8bb1;
    background: #475f7e;
}
.btn-tm:hover {
    background: #344862;
}
.mob-top {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    z-index: 10;
}
.mob-top.start {
    top: 60px;
    display:none;
}
.mob-top:after {
    content: '';
    display: block;
    clear: both;
}
.mob-top span {
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px;
}
.mob-top span:hover {
    opacity: 0.7;
}
.mob-top span.disabled {
    opacity: 0.4;
    cursor: default;
}
.mob-next {
    float: right;
}
.ui-tooltip {
    color: #dee0e6;
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 8px 4px;
    position: absolute;
    z-index: 9999999;
}
.ui-tooltip:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -4px;
    border: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,0.5);
}
.ui-helper-hidden-accessible {
    position: absolute;
    top: -9999px;
}
.mob-back {
    display: none;
}
#container {
    padding-right: 320px;
    box-sizing: border-box;
}
#header, .foot-in {
    right: 320px;
}
.banner-bar {
    z-index: 8030;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    background: #2c303c;
}
.banner-bar .banner {
    width: 300px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: 0;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.banner-bar .banner:after, .banner-bar .banner:before {
    content: '';
    background: #1d212d;
    position: absolute;
}
.banner-bar .banner:after {
    width: 100%;
    height: 250px;
    left: 125px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
}
.banner-bar .banner:before {
    width: 40px;
    height: 100%;
    right: 0;
    transform: translatex(100%) skewy(45deg);
    top: 20px;
}
.banner-bar .banner a {
    position: relative;
}
@media screen and (max-width:1800px) {
.menu .pane{
    padding: 0 0px 6px 0px;
}
}
@media screen and (max-width:1700px) {
    #header .banner {
    overflow: hidden;
}
}@media screen and (max-width:1600px) {
    .lang, .nav>li>span {
    font-size: 13px;
}
#header .banner {
    overflow: hidden;
    padding-right: 0;
}
.nav{
    width: 270px;
}
.nav .nav-item1>span, .nav .nav-item2>span, .nav .nav-item3>span {
    width: 135px;
}
.sidebar-right .banner {
    margin-top: 0;
}
.menu .pane{
    padding: 0 0px 6px 0px;
}
}
@media screen and (max-width:1500px) {
    #header .banner {
    display: none;
}
}@media screen and (max-width:1279px) {
    .sidebar-left, .sidebar-right {
    margin-bottom: 20px;
    padding: 0;
}
.lang {
    display: none;
}
}@media screen and (max-width:1023px) {
    .dr-slider input, .form-col .t-inp, .menu .panes, .scale-slider span {
    font-size: 14px;
}
.link-cancel, .link-save {
    width: 40px;
}
#pane4 .dr-slider input {
    width: 35px;
    font-size: 14px;
}
#pane4 .dr-slider .ui-slider {
    width: 90px;
}
}@media screen and (min-width:768px) {
    .menu li .submenu .submenu.active {
    bottom: 0px;
    position: fixed;
    top: auto;
    right: 320px;
    left: 0;
    z-index: 100;
}
.menu {
    display: flex;
}
/*
.menu>li:nth-child(1) {
    order: 6;
}
.menu>li:nth-child(2) {
    order: 5;
}
.menu>li:nth-child(3) {
    order: 4;
}
.menu>li:nth-child(4) {
    order: 3;
}
.menu>li:nth-child(5) {
    order: 2;
}
.menu>li:nth-child(6) {
    order: 1;
}
*/
.menu>li>span span {
    display: inline-block;
    font-size: 13px;
    color: #6e7893;
    font-weight: bold;
    margin-left: 15px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}
.menu>li>span span:after {
    content: '';
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid #1f2635;
    bottom: -7px;
    left: 50%;
    margin-left: -4px;
    display:  none;
}
}
@media screen and (max-width:992px) and (min-width:767px){
    .menu>li>span span{
        margin-left: 5px;
        font-size: 12px;
    }
}
@media screen and (max-width:1366px) and (min-width:767px) {
    .link-cancel, .link-save {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 40px;
    line-height: 34px;
    box-sizing: border-box;
}
.hide-submenu, .link-cancel, .link-save {
    box-sizing: border-box;
}
.history-opts {
    bottom: -20px;
}
#header {
    padding-left: 15px;
}
#container {
    padding-right: 0px;
}
#content {
    padding: 45px 0px 0;
	background: #000;
}
.menu>li>span {
    width: 100%;
}
.menu .pane {
    padding-left: 0px;
}
.link-cancel {
    margin-left: 12px;
    width: 38px;
    border-bottom: 2px solid #6e778b;
    background: url(../images/icons/ico17.svg) center no-repeat;
}
.link-save {
    width: 48px;
    border-bottom: 2px solid #93c365;
    background: url(../images/icons/ico18.svg) center no-repeat;
}
.hide-submenu {
    display: none;
    margin:0 5px 0 0;
    float: left;
    background: url(../images/icons/ico34.png) center no-repeat;
    border-bottom: 2px solid #6e778b;
    width: 56px;
    height: 40px;
}
.banner-bar {
    width: 180px;
}
.banner-bar .banner {
    width: 160px;
}
#header, .foot-in, .menu li .submenu .submenu.active {
    right:  0px;
}
.fancybox-wrap{
    margin-left: 0px;
}
}
@media screen and (max-width:1200px) {
    .nav{
        margin-right: 19%;
    }
}
@media screen and (max-width:1100px) {
    .nav{
        margin-right: 9%;
    }
}
@media screen and (max-width:991px) {
    .dop-menu{
        display: none;
    }
    .nav{
        margin-left: 35%;
    }
    .nav .nav-item1>span, .nav .nav-item2>span, .nav .nav-item3>span{
        width: 115px;
    }
}
@media screen and (max-width:767px) {
.hide-submenu, .hide-submenu.show, .jscolor:focus, .lang, .menu li .submenu .pane .link-cancel, .menu li .submenu .pane .link-save {
    display: none;
}
.banner-horizontal{
    display: none;
}
.history-opts {
    display:none;
}
.hide-submenu.show {
    border-bottom:none;
    margin: 0 0 0 10px;
    position: fixed;
    left: 40px;
    bottom: 96px;
}
.hide-submenu.show:hover {
    border-bottom:none;
}
.nav li ul {
    width: 100%!important;
}
.nav li ul li {
    text-align:center;
    width:100%;
}
.menu li .submenu .submenu.active {
    bottom: 0px;
    position: fixed;
    top: auto;
    left: 0;
    z-index: 10;
    height: 98px;
}
.mob-top.start+.mscroll {
    overflow: auto;
    height: 136px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.mob-top.start+.mscroll .menu {
    min-width: 624px;
}
.mob-top.start+.mscroll .menu>li {
    position: relative;
    overflow: hidden;
    width: 104px;
    min-width: 16.6%;
    margin-top: 0px;
}
.jq-checkbox {
    margin-top:-1px;
}
.icon-load {
    left: 50%!important; 
}
.menu {
    width: 100%;
    height: 136px;
    padding: 3px 0 0;
}
#container, .menu .pane .mCSB_container {
    padding-right: 0;
}
.menu>li {
    float: left;
    width: 74px;
    min-width: 74px;
}
.menu>li:nth-child(3n+1) {
    clear: none;
}
.menu>li.active>span, .menu>li>span {
    padding-top:28px;
    text-transform: uppercase;
    height: 105px;
    width: auto;
    font-size: 15px;
    z-index: 0;
    font-weight:400;
    margin-top: 0px;
}
.menu>li>span:hover {
    z-index: 0;
    font-size: 15px;
    font-weight:400;
}
.menu>li>span:before {
    display: none;
    opacity: 0;
    background: 0 0;
}
.menu li>span>i {
    margin: 6px 0 17px;
    display: block;
}
.menu li>span>i img {
    max-height: 46px;
}
.menu .panes {
    margin-bottom: -2px;
    left: 0;
}
.menu .pane {
    padding-right: 0px;
}
.menu li .submenu ul li>span span {
    margin-bottom:-2px;
}
.link-cancel {
    width: 38px;
    border-bottom:none;
}
.link-save {
    width: 50px;
    border-bottom:none;
}
.link-cancel:hover, .link-save:hover {
    border-bottom:none;
}    
.form-col label {
    letter-spacing: 0;
    margin-right:10px;
}
.form-col .t-inp {
    width: 44px;
    margin: 0px;
}
.form-col .beet {
    margin: 0 7px;
}
.link-cancel {
    margin-left: 28px;
}
.link-save {
}
.form-col {
    margin-left: 10px;
    margin-right: -3px;
}
.form-col:last-child {
    margin-right: 15px;
}
#footer, .foot-in {
    height: 152px;
    background: 0 0;
}
.menu li .submenu {
    left: 0;
    margin-left: 100%;
    height: 98px;
    bottom: 0px;
}
.menu li .submenu .mCSB_scrollTools {
    opacity: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
}
.menu li .submenu ul {
    padding: 0;
    height: 98px;
}
.menu li.active .submenu {
    margin-left: 0;
}
#submenu-effects span img, .menu li .submenu ul li>span {
    width: 155px;
    height: 78px;
}
.menu li .submenu.edit-submenu ul li>span {
    width: 92px;
    height: 109px;
}
.menu li .submenu ul li>span span {
    font-size: 14px;
}
.menu li .submenu ul li>span i {
    margin: 0 auto 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    display: block;
}
.mob-back {
    display:block;
}
.mob-top {
    display: none;
}
.mob-back {
    cursor: pointer;
    float: left;
    z-index: 5;
    height: 32px;
    border: none;
    width: 32px;
    margin: 3px 10px 0 10px;
    background: url(../images/icons/ico9_2.svg) center no-repeat;
    background-size: 26px;
}
.mob-back:hover {
    opacity: .7;
}
.banner-bar, .h-like, .logo, .sidebar-left {
    display: none;
}
.menu .pane {
    height: 40px;
    padding-left: 0;
}
.center {
    margin: 0;
    overflow: visible;
	background: #000;
}
.logo {
    margin: 16px 0 0;
}
#header {
    border-bottom: 0;
    padding-left: 0;
    height: 50px;
}
.nav {
    float: none;
    height: 74px;
    width: 100%;
    margin-left: 0!important;
}
.nav li {
    width: 32%}
.nav li.nav-item3 {
    width: 36%}
.nav .nav-item1>span, .nav .nav-item2>span, .nav .nav-item3>span {
    width: 100%;
    font-size: 16px;
}
.sidebar-right {
    float: none;
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
    display: none;
}
.sidebar-left {
    margin: 0 auto;
    float: none;
    padding: 0;
}
.size-col>label {
    margin: 0 10px 0 0;
}
.size-col>input+label {
    margin: 0 10px 0 18px;
}
.pop-load {
    width: 383px;
}
.nav li ul {
    left: auto;
    right: 0;
    width: 110px;
}
.pop-first {
    width: 460px;
}
#content {
    padding: 70px 18px 0;
	background: #000;
}
#header, .foot-in {
    right: 0;
}
.fancybox-wrap{
    margin-left: 0px;
}

}


.icon-load {
    background: url(../images/loader.svg) left top no-repeat;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 47%;
    top: 50%;
    display: none;
    margin-top:-50px;
}
.loaded .icon-load {
    display: block;
}
#check, #old, .jcrop-keymgr, .lazyload, .setting, .theme {
    display: none !important;
}
#video {
    position: fixed;
    z-index: -10;
    left: 0;
    top: 0;
}

.dop-menu{
    width: 120px;
    float: left;
    margin-top: 11px;
    position: relative;
    padding-bottom: 5px;
}
.dop-menu__title{
    width: 100%;
    font-size: 14px;
    color: #677390;
    font-weight: 600;
    padding: 0 10px;
    line-height: 24px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #677390;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
}
.dop-menu__title:after{
    content: '';
    width: 0px;
    height: 0px;
    border-top: 6px solid #677390;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -2px;
    transition: all 0.3s;
}
.dop-menu-content{
    position: absolute;
    top: 99%;
    top: 99%;
    left: 0px;
    width: 100%;
    background: #4a546c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
.dop-menu-content span, .dop-menu-content a{
    display: block;
    padding: 4px 10px 6px;
    font-size: 14px;
    color: #cbcfd9;
    font-weight: 600;
}
.dop-menu-content span:hover, .dop-menu-content a:hover{
    background: #677390;
    color: #fff;
}
.dop-menu-content span:first-child, .dop-menu-content a:first-child{
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.dop-menu-content span:last-child, .dop-menu-content a:last-child{
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.dop-menu:hover .dop-menu-content{
    height: 87px;
}
.dop-menu:hover .dop-menu__title{
    background: #677390;
    color: #fff;
}
.dop-menu:hover .dop-menu__title:after{
    border-top-color: #fff;
}

.img-waiting {
    opacity: .8;
}
